.img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.pageWrapper {
  background-color: #f5f5f5;
}
.article_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;

  .content {
    flex:1;
    background-color: #fff;
    overflow: hidden;
  }
  .content_header {
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    border-bottom: solid #eee 1px;

    .title {
      margin-left: 10px;
    }

    .articleInfo {
      display: flex;
      align-items: center;
      color: #98a6ad;
      margin-top: 10px;
      .item {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-left: 15px;
        img {
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
      }
      .first_item {
        @extend .item;
        margin-left: 0;
      }
    }

    .articleInfo:first-child {
      margin-left: 0;
    }
  }
  .sider_left {
    width: 250px;
    background-color: #fff;
    min-height: 100vh;
    margin-left: 20px;
    padding-left: 20px;
    // overflow: hidden;
  }
}
