// .ant-carousel{
//     // width:200px

// }
.ant-carousel .slick-slide {
    width:200px;
  text-align: center;
  height: 250px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}